.container{
    
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.menu-bar{
    background-image: linear-gradient(90deg, white);
}
.nav-link{
    font-size: 16px;
    margin: 3px;
    color: gray;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa-solid{
    color: black!important;
    font-size: 26px;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid black;
}
.navbar-brand img{
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
}
@media only screen and (max-width: 1000px){
    .nav-link:hover{
        border-bottom: none !important;
    }
}
.orange-bg{
    background-image: url('images/bg-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 10px;
}
.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-body{
    text-align: center;
}
.card-title{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.card-text{
    color: gray;
}
h6{
    color: orange;
    text-align: right;
}
